In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("cgpa.csv")
df

    cgpa  package
0   2.90      1.8
1   3.10      2.4
2   3.10      3.0
3   3.40      3.1
4   3.30      3.2
5   3.80      3.3
6   3.90      3.5
7   3.70      3.6
8   3.44      3.8
9   3.80      3.9
10  3.00      4.0
11  3.10      4.1
12  3.20      4.2
13  3.30      4.3
14  3.40      4.4
15  3.50      4.5
16  3.60      4.6
17  3.70      4.7
18  3.80      4.8
19  3.90      4.9
20  4.00      5.0
21  4.10      5.1
22  4.20      5.2
23  4.30      5.3
24  4.40      5.4
25  4.50      5.5
26  4.60      5.6
27  4.70      5.7
28  4.80      5.8
29  4.90      5.9
30  5.00      6.0
31  5.10      6.1
32  5.20      6.2
33  5.30      6.3
34  5.40      6.4
35  5.50      6.5
36  5.60      6.6
37  5.70      6.7
38  5.00      6.8
39  5.90      6.9

In [4]:
x = df.iloc[:,:-1]
x

    cgpa
0   2.90
1   3.10
2   3.10
3   3.40
4   3.30
5   3.80
6   3.90
7   3.70
8   3.44
9   3.80
10  3.00
11  3.10
12  3.20
13  3.30
14  3.40
15  3.50
16  3.60
17  3.70
18  3.80
19  3.90
20  4.00
21  4.10
22  4.20
23  4.30
24  4.40
25  4.50
26  4.60
27  4.70
28  4.80
29  4.90
30  5.00
31  5.10
32  5.20
33  5.30
34  5.40
35  5.50
36  5.60
37  5.70
38  5.00
39  5.90

In [5]:
y = df.iloc[:,-1]
y

0     1.8
1     2.4
2     3.0
3     3.1
4     3.2
5     3.3
6     3.5
7     3.6
8     3.8
9     3.9
10    4.0
11    4.1
12    4.2
13    4.3
14    4.4
15    4.5
16    4.6
17    4.7
18    4.8
19    4.9
20    5.0
21    5.1
22    5.2
23    5.3
24    5.4
25    5.5
26    5.6
27    5.7
28    5.8
29    5.9
30    6.0
31    6.1
32    6.2
33    6.3
34    6.4
35    6.5
36    6.6
37    6.7
38    6.8
39    6.9
Name: package, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.2,random_state=42)

In [8]:

from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

In [ ]:
#bagging beta estimator
bg = BaggingRegressor(estimator=LinearRegression(),n_estimators=30)
bg.fit(x_train,y_train)
bg.score(x_train,y_train)*100, bg.score(x_test,y_test)*100

(79.90001519262059, 77.8980315018814)

In [12]:
# RandomForest
rf = RandomForestRegressor(n_estimators=30)
rf.fit(x_train,y_train)
rf.score(x_train,y_train)*100 , rf.score(x_test,y_test)*100

(93.29660238751147, 70.58153110692564)